html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner_top100 {
  background-image: url("../public/panners/banner-100.png");
  background-position: center;
  background-size: cover;
  height: 280px;
  opacity: 0.6;
}
.category_top100 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .category_top100 {
    width: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
  }
}

